html,
body {
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    background-color: #e4ebf7;
    color: #515974;
}

.hidden {
    display: none !important;
}

.m-auto {
    margin: 0 auto;
}

.text-bold {
    font-weight: bold;
}

.text-danger {
    color: #f45b63;
}

/*DRAWER*/

.drawer-layout {
    height: 100%;
    display: flex;
}

.drawer {
    background-color: #1b2133;
    width: 256px;
    color: #e4ebf7;
    display: flex;
    flex-direction: column;
}

.drawer-header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-header .logo {
    height: 18px;
}

.drawer-account {
    padding: 24px;
    display: flex;
    align-items: center;
    border-top: 1px solid #0c1224;
    border-bottom: 1px solid #0c1224;
}

.drawer-account .profile-image {
    height: 48px;
}

.drawer-account .profile-name {
    margin-left: 24px;
    font-size: 20px;
    line-height: 1.36;
}

.drawer-content {
    padding-bottom: 40px;
    flex: 1;
    overflow-y: auto;
}

.drawer-content .menu-header {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
    color: #515974;
    cursor: pointer;
}

.drawer-content .menu-wrapper.expanded .menu-header svg {
    transform: rotate(180deg);
}

.drawer-content .menu-wrapper.expanded .menu-content {
    display: block;
}

.drawer-content .menu-header:not(:first-of-type) {
    border-top: 1px solid #0c1224;
}

.drawer-content .menu-content {
    margin: 0;
    padding: 0;
    display: none;
}

.drawer-content .menu-content li {
    padding: 16px 24px;
    border-left: 2px solid transparent;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.drawer-content .menu-content svg {
    margin-right: 8px;
}

.drawer-content .menu-content a {
    color: inherit;
    text-decoration: none;
}

.drawer-content .menu-content li:hover,
.drawer-content .menu-content li.selected {
    border-left: 2px solid #f45b63;
    background-color: #0c1224;
}

/*HEADER LAYOUT*/
.header-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*HEADER*/
.header-layout .header {
    padding: 24px;
    display: flex;
    align-items: center;
    background-color: #f2f6fc;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.header-layout .header .search {
    margin-left: 16px;
    border: 0;
    flex: 1;
    background-color: transparent;
}

.header-layout .header .actions {
    margin-left: 24px;
    cursor: pointer;
}

.header-layout .content {
    overflow-y: auto;
}

/*CONTENT*/
.content {
    padding: 24px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}

.project-activity {
    grid-column: span 12;
}

.involved-team {
    grid-column: span 4;
}

.managers-activity {
    grid-column: span 8;
}

.visits {
    grid-column: span 7;
}

.messages {
    grid-column: span 5;
}

.implementation {
    grid-column: span 5;
}

.client-activity {
    grid-column: span 7;
}

.mail {
    grid-column: span 12;
}

/*Profile list*/
.person {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.person-pic {
    width: 48px;
}

.person-name {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
}

.person-details {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person-title {
    margin-top: 4px;
    font-size: 14px;
    color: #a5a6bb;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 220px;
}
